<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>ACE Inspiration</title>

<!-- Custom fonts for this template-->

<link th:href="@{/adminStyle/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/adminStyle/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/adminStyle/css/main.css}" rel="stylesheet">


<script type='text/javascript' th:src='@{/adminStyle/js/jquery.min.js}'></script>
<script type='text/javascript' th:src='@{/adminStyle/js/popper.min.js}'></script>


</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments/AdminHomeSidebar::adminhomesidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- th replace -->
				<div th:replace="fragments/AdminHomeHeader::adminhomenavbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0  cardHeader">Attendance Detail</h1>

					</div>



					<!-- Content Row -->

					<div class="row">

						<div class="card-body">
							<div class="card-body formBorder"
								style="background-color: white;">



								<div class="row">

									<div class="card-body">
										<div class="form-inline">

											<!-- search -->
											<form th:action="@{/admin/studentAttendanceDetailView/searchStudentId}">
											<div class="input-group searchButton">
											<input type="hidden" name="key" th:value="${key}">
												<input type="text" name="stId" required="required"
													class="form-control bg-light border-0 small"
													placeholder="Search By Student Code" aria-label="Search"
													aria-describedby="basic-addon2">
												<div class="input-group-append">
													<button class="btn btn-primary">
														<i class="fas fa-search fa-sm"></i>
													</button>
												</div>
											</div>
											</form>
											<!-- end search                  -->

											<!-- search -->
											<form th:action="@{/admin/studentAttendanceDetailView/searchDate}">
											<div class="input-group searchButton">
											<input type="hidden" name="key" th:value="${key}">
												<input type="date" name="data" required="required"
													class="form-control bg-light border-0 small"
													aria-label="Search" aria-describedby="basic-addon2">
												<div class="input-group-append">
													<button class="btn btn-primary" >
														<i class="fas fa-search fa-sm"></i>
													</button>
												</div>
											</div>
											</form>
											<!-- end search                  -->

										</div>
									</div>

								</div>


								<br>
								<!-- table -->
								<div class="table-responsive">
								
							<div style="height: 300px;" >


                  <div class="my-custom-scrollbar ;table-wrapper-scroll-y " >
                  </div>
									<table class="table table-hover" id="dataTable" style="width:1000px; "
										cellspacing="0">
										<thead>
											<tr>

												<th>Student Name</th>

												<th>Attendance Date</th>
												<th>Status</th>

												<th class="text-center">Action</th>

											</tr>
										</thead>

										<tbody>
											<tr th:each="lis :${list}" th:if="${lis.status!='Pending' and lis.studentBatch.batch.batchName==key}">

												<td th:text="${lis.studentBatch.student.name}">Tun Tun</td>

												<td th:text="${lis.date}">14-8-2020</td>
												<td th:text="${lis.status}">Absent</td>

												<td>
													<div class="row">
													<div class="col-md-4">
															<button th:onclick="absent([[${lis.id}]])" 
															th:disabled="${lis.status=='Absent'}" class="btn btn-block btn-danger">Absent</button>	
														</div>
														<div class="col-md-4">
																<button th:onclick="present([[${lis.id}]])"
																th:disabled="${lis.status=='Present'}" class="btn btn-block btn-success">Present</button>
														</div>
														<div class="col-md-4">
																<button th:onclick="leave([[${lis.id}]])"
																th:disabled="${lis.status=='Leave'}" class="btn btn-block btn-warning">Leave</button>
														</div>
														<!-- <div class="col-md-4">
															<a
																th:href="@{/absentUpdate/{batch}/{id}/{key}(batch=${lis.studentBatch.batch.batchName}
																,id=${lis.id},key=${data})}"
																class="btn btn-block btn-danger"> Absent </a>
														</div>

														<div class="col-md-4">
															<a
																th:href="@{/presentUpdate/{batch}/{id}/{key}(batch=${lis.studentBatch.batch.batchName}
																,id=${lis.id},key=${data})}"
																class="btn btn-block btn-success"> Present</a>
														</div>
														<div class="col-md-4">
															<a
																th:href="@{/leaveUpdate/{batch}/{id}/{key}(batch=${lis.studentBatch.batch.batchName}
																,id=${lis.id},key=${data})}"
																class="btn btn-block btn-warning"> Leave</a>
														</div> -->
													</div>

												</td>
											</tr>



										</tbody>
									</table>
									</div>
								</div>
								<div class="col-sm-12 col-md-5 text-left">
									<a class="btn backButton" th:href="@{/admin/studentAttendanceDetail}">Back</a>
								</div>






							</div>

						</div>
					</div>


					<!-- End Row -->
				</div>
				<!-- End of Page Content -->
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->

			<!-- th replace -->
			<div th:replace="fragments/AdminHomeFooter::adminhomefooter"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/AdminHomeFooter::logoutModel"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/adminStyle/vendor/jquery/jquery.min.js}"></script>
	<script
		th:src="@{/adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script
		th:src="@{/adminStyle/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/adminStyle/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/adminStyle/vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/adminStyle/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/adminStyle/js/demo/chart-pie-demo.js}"></script>
	<!-- Footer Year -->
	<script th:src="@{/adminStyle/js/currentYear.js}"></script>

<script>
function absent(id) {
	$(document).ready(function () {
		$.get("/update",{id:id,status:'Absent'},function(data){
			location.reload();
		});
	});
}
function present(id) {
	$(document).ready(function () {
		$.get("/update",{id:id,status:'Present'},function(data){
			location.reload();
		});
	});
}
function leave(id) {
	$(document).ready(function () {
		$.get("/update",{id:id,status:'Leave'},function(data){
			location.reload();
		});
	});
}
</script>



</body>

</html>