<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ACE Inspiration</title>

  <!-- Custom fonts for this template-->

  <link th:href="@{/adminStyle/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/adminStyle/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/adminStyle/css/main.css}" rel="stylesheet">




  <script type='text/javascript' th:src='@{/adminStyle/js/jquery.min.js}'></script>
  <script type='text/javascript' th:src='@{/adminStyle/js/popper.min.js}'></script>



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <div th:replace="fragments/AdminHomeSidebar::adminhomesidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- th replace -->
        <div th:replace="fragments/AdminHomeHeader::adminhomenavbar"></div>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 cardHeader">Grade</h1>

          </div>



          <!-- Content Row -->

          <div class="row">

            <div class="card-body">

              <br>
              <div class="card-body" style="background-color: white;">
                <br>
  <form th:action="@{/admin/addGrate}" method="post" th:object="${grate}" >   	          
                <div class="row">
                  <div class="col-md-3"></div>
                  
                  <div class="col-md-8">
                   <div class="form-group row">
												<label style="font-weight: bold;" for="inputCourseName"
													class="col-sm-3 col-form-label">Course Name<span
													style="color: red;">*</span></label>
												<div class="col-sm-5">
													<select th:field="*{course}" class="custom-select"
														id="inputStudentOtherQualification">
														<option th:each="lis :${courses}" th:text="${lis.name}"
															th:value="${lis.id}">Manager</option>
													</select>
													<p th:if="${#fields.hasErrors('course')}"
														th:errors="*{course}" style="color: red"></p>
												</div>
												
											</div>
                  
                    <div class="form-group row">
                      <label style="font-weight: bold;" for="courseType" class="col-sm-3 col-form-label">From Mark<span style="color: red;">*</span></label>
                      <div class="col-sm-5">
                        <input type="number" th:field="*{fromMark}"  class="form-control" id="courseType" placeholder="From Mark" >
                        <p th:if="${#fields.hasErrors('fromMark')}" th:errors="*{fromMark}" style="color: red;"></p>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label style="font-weight: bold;" for="courseType" class="col-sm-3 col-form-label">To Mark<span style="color: red;">*</span></label>
                      <div class="col-sm-5">
                        <input type="number" th:field="*{toMark}"  class="form-control" id="courseType" placeholder="To Mark" >
                        <p th:if="${#fields.hasErrors('toMark')}" th:errors="*{toMark}" style="color: red;"></p>
                      </div>
                    </div>
                    
                     <div class="form-group row">
                      <label style="font-weight: bold;" for="inputState" class="col-sm-3 col-form-label">Grade<span style="color: red;">*</span></label>
                      <div class="col-sm-5">
                       <div class="input-group">
                               <select  th:field="*{sate}"  id="inputState"  class="custom-select">
                                
                                <option value="A+">A+</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                
                              </select>
                            
                        <p th:if="${#fields.hasErrors('sate')}" th:errors="*{sate}" style="color: red;"></p>
                      </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">&nbsp;</label>
                      <div class="col-md-3">
                        <input type="submit" class="btn btn-block btn-success" value="Add">
                          
                      </div>
                    </div>
                  </div>
                  

                  <div class="col-md-1"></div>
                </div>
 </form>                
                <br>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="table-responsive">
                    <div style="height: 300px;" >


                  <div class="my-custom-scrollbar ;table-wrapper-scroll-y " >
                  </div>
                    
                      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <tr>
                              	<th>No</th>
                              	<th>Course Name</th>
                                <th>Total Mark</th>
                                <th>Grade</th>
                                <th colspan="2" class="text-center">Action</th>
                              </tr>
                            </div>
                            <div class="col-md-3"></div>
                          </div>
    
                        </thead>
    
                        <tbody>
                          <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                              <tr th:each="lis,iter : ${list}">
                              	<td th:text="${iter.index+1}"></td>
                              	<td th:text="${lis.course.name}">JWD</td>
                                <td th:text="${lis.fromMark}+' - '+${lis.toMark}">100</td>
                                <th th:text="${lis.sate}">A</th>
                              
                                <td>
                                  <div class="row ">
                                    <div class="col-md-6">
                                      <a th:href="@{/admin/grateEdit/{id}(id=${lis.id})}" class="btn btn-block btn-info">
                                        Edit</a>
                                    </div>
                                    <div class="col-md-6">
                                       <div data-toggle="modal" data-target="#deleteModal"
																					class="btn btn-block btn-danger"
																					th:onclick="del([[${lis.id}]])"> Delete</div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </div>
                            <div class="col-md-3"></div>
                          </div>
                          
                        </tbody>
                      </table>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-2"></div>
                </div>
                
                
              </div>

            </div>



          </div>


        </div><!-- End of Page Content -->
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->


      <!-- th replace -->
      <div th:replace="fragments/AdminHomeFooter::adminhomefooter"></div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- Delete Modal-->
	<div th:replace="fragments/AdminHomeFooter::deleteModel"></div>
<!-- Logout Modal-->
<div th:replace="fragments/AdminHomeFooter::logoutModel"></div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/adminStyle/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/adminStyle/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/adminStyle/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/adminStyle/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/adminStyle/js/demo/chart-area-demo.js}"></script>
  <script th:src="@{/adminStyle/js/demo/chart-pie-demo.js}"></script>
  <!-- Footer Year -->
  <script th:src="@{/adminStyle/js/currentYear.js}"></script>
<script>
	let delId;
	function del(id) {
		delId=id;
	}
	function confirmDel(){
		window.location.href = "/admin/grateDelete/"+delId; 
	}
	</script>




</body>

</html>