<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ACE Inspiration</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/adminStyle/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

   <!-- Custom styles for this template-->
  <link th:href="@{/adminStyle/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/adminStyle/css/main.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
     <div th:replace="fragments/StudentProfileSidebar :: studentProlileSitebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <div th:replace="fragments/StudentProfileSidebar :: studentProlileTobbar"></div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 cardHeader">Attendence Detail </h1>
            
          </div>

          <!-- Content Row -->
          <div class="row">         
                  <div class="card-body ">
                    <!-- Nested Row within Card Body -->
                    <div class="card-body" style="background-color: white;">
                        <div class="row">                   
                          <!--  <div class="form-inline">                                        
                             <a class="btn btn-success" href="#"  onclick="return alert(`Your total attendance is 2 and your attendance's percentage is 20%`) ">View Total Attendance</a>
                             </div>
                             --> 
                          </div><br>
                          <div class="row">
                            <div class="  col-sm-2 col-md-2 col-xl-2">
                            </div>
                            <div class="col-sm-8 col-md-8 col-xl-8">
                              <div class="table-responsive">
                              
                              <div style="height: 300px;" >


                  <div class="my-custom-scrollbar ;table-wrapper-scroll-y " >
                  </div>
                                <table class="table table-bordered" id="dataTable" "width=500px; " cellspacing="0">
                                  <thead>
                                      <tr>                 
                                      <th class="text-center">Attendance Date</th>
                                      <th class="text-center" >Status</th> 
                                    </tr>
                                  </thead>
                                 
                                  <tbody>
                                    <tr th:each="lis:${list}">               
                                      <td class="text-center" th:text="${lis.date}"></td>
                                      <td class="text-center" th:text="${lis.status}"></td>                  
                                    </tr>  
                                   </tbody>
                                </table>   
                                </div>           
                              </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-xl-2">   
                            </div>
                          </div>
                        </div>
                    </div>
                  </div> <!-- End of Nested Row -->                    
          <!-- End of card-body -->
          </div>
        
  </div>
  <!-- End of Content Row -->
  </div>
</div>
      <!-- Footer -->
      <div th:replace="fragments/StudentProfileSidebar :: studentProlileFooter"></div>
      <!-- End of Footer -->
    
   </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
 

   <!-- Bootstrap core JavaScript-->
  <script th:src="@{/adminStyle/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/adminStyle/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/adminStyle/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/adminStyle/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/adminStyle/js/demo/chart-area-demo.js}"></script>
  <script th:src="@{/adminStyle/js/demo/chart-pie-demo.js}"></script>
  <!-- Footer Year -->
  <script th:src="@{/adminStyle/js/currentYear.js}"></script>

</body>

</html>
