<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>ACE Inspiration</title>

<!-- Custom fonts for this template-->

<link th:href="@{/adminStyle/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/adminStyle/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/adminStyle/css/main.css}" rel="stylesheet">


<link rel="stylesheet" th:href="@{/adminStyle/css/reviewstar.css}">
<script type='text/javascript' th:src='@{/adminStyle/js/jquery.min.js}'></script>
<script type='text/javascript' th:src='@{/adminStyle/js/popper.min.js}'></script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">



		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- th replace -->
				<div th:replace="fragments/AdminHomeHeader::adminhomenavbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">


					<!-- Content Row -->
					<div class="row">
						<div class="col-md-1"></div>
						<div class="card-body ">

							<!-- Nested Row within Card Body -->
							<div class="card-body" style="background-color: white;">

								<form method="post" th:object="${admin}" th:action="@{/updateProfile/{id}(id=${admin.id})}" >
									<div class="row">
										<div class="col-md-1"></div>

										<div class="col-md-3">
											<img th:src="@{adminStyle/img/profile.jpg}"
												alt="Student_Profile" class="stu_img rounded d-block">
										</div>
										<div class="col-md-8">
											<br>
											<h1>Personal Info</h1>
											<br>
											<div class="form-group row">
												<label style="font-weight: bold;" for="email_chan"
													class="col-sm-3 col-form-label">Name</label>
												<div class="col-sm-6">
													<input type="text" class="form-control" id="email_chan"
													   th:field="*{name}"	placeholder="Name">
													   <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
														style="color: red">Role error</p>
												</div>
											</div>
											
											<div class="form-group row">
												<label style="font-weight: bold;" for="email_chan"
													class="col-sm-3 col-form-label">Email</label>
												<div class="col-sm-6">
													<input type="email" class="form-control" id="email_chan"
													 th:field="*{mail}" placeholder="Email">
													 <p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"
														style="color: red">Role error</p>
												</div>
											</div>

											<div class="form-group row">
												<label style="font-weight: bold;" for="email_chan"
													class="col-sm-3 col-form-label">New Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" id="email_chan"
													 th:field="*{pass}"	placeholder="New Password">
													 <p th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"
														style="color: red">Role error</p>
												</div>
											</div>

											<div class="form-group row">
												<label style="font-weight: bold;" for="email_chan"
													class="col-sm-3 col-form-label">Confirm Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" id="email_chan"
													th:field="*{confpass}"	placeholder="Confirm Password">
													<p th:text="${error}" style="color: red">Role error</p>
												</div>
											</div>
											
											<div class="form-group row">
												<div class="col-md-3"></div>
												<div class="col-md-2">
													<input type="submit" class="btn btn-block btn-success"
														value="Update">
												</div>
												<div class="col-md-2">
													<a th:href="@{/admin}" class="btn btn-block btn-info">
														Back</a>
												</div>

											</div>

										</div>
									</div>
								</form>
							</div>
							<!-- End of Nested Row -->
							<!-- End of card-body -->
						</div>
						<div class="col-md-1"></div>
					</div>

					<!-- Content Row -->

					<!-- Content Row -->


				</div>
				<!-- End of Page Content -->
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="fragments/AdminHomeFooter::adminhomefooter"></div>


		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/AdminHomeFooter::logoutModel"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/adminStyle/vendor/jquery/jquery.min.js}"></script>
	<script
		th:src="@{/adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script
		th:src="@{/adminStyle/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/adminStyle/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/adminStyle/vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/adminStyle/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/adminStyle/js/demo/chart-pie-demo.js}"></script>
	<!-- Footer Year -->
	<script th:src="@{/adminStyle/js/currentYear.js}"></script>





</body>

</html>