<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ACE Inspiration</title>
<link rel="stylesheet"
	th:href="@{/homeStyle/userassets/css/bootstrap.min.css}">
<style>
.navcolor {
	background-color: whitesmoke;
}

.head {
	text-align: center;
	margin: 20px;
}

.foot {
	text-align: center;
	background-color: #adadad;
	line-height: 50px;
}

.img {
	width: 100%;
}
</style>
<style>
</style>
</head>
<body>
	<!-- th replace -->
	<div th:replace="fragments/HomeHeader::homenavbar"></div>

	<section class="container" id="about">
		<h1 class="text-center display-4">About Us</h1>
		<br>
		<div class="content">
			<div>
				<h5>Our Mission</h5>
				<ul>
					<li>Promoting Human Resource Development by giving intensive
						training and problem based teaching</li>
					<br>
					<li>Providing the corporate training and OJT for the ACE
						Groups and other industries in Myanmar</li>
					<br>
					<li>Enhancing the training courses and teaching techniques by
						doing partnership with the international institutions.</li>
				</ul>
				<br>
			</div>
			<div>
				<h5>Our Vision</h5>
				<ul>
					<li>To be one of the Myanmar’s top level institution that
						provide professional training and services.</li>
					<br>
					<li>To be the one internationally well organized institute for
						IT Engineers.</li>

				</ul>

			</div>
		</div>
	</section>

	<!--footer-->
	<section class="container-flude" style="background-color: aliceblue;">
		<div class="row" style="padding: 50px 0px 50px 0px;">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<h4>
					<span> WHY </span>JOIN US?
				</h4>
				<div class="row join">
					<li>Learn from IT experts</li>
					<li>Project Based Exercises</li>
					<li>Good Jobs prospect in software<br> development industry for
						skillful students</li>

				</div>
			</div>

			<div class="col-md-3">
				<h4>
					<span>CONTACT</span> US
				</h4>
				<address>
					No-169, MTP Condo, 9th Floor,<br> Insein Road, Than Lan Bus
					Stop,<br> Hlaing Township, Yangon, Myanmar.<br> Email :
					info@aceinspiration.com<br> Phone : 09253257742
				</address>
			</div>

			<div class="col-md-3 follow">
				<h4>
					<span>FOLLOW</span> US
				</h4>
				<div class="fb-like fb_iframe_widget"
					data-href="https://www.facebook.com/aceinspiration/"
					data-layout="button_count" data-action="like"
					data-show-faces="true" data-share="true" fb-xfbml-state="rendered"
					fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=352&amp;href=https%3A%2F%2Fwww.facebook.com%2Faceinspiration%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true">
					<span style="vertical-align: bottom; width: 135px; height: 20px;"><iframe
							name="f3bcac87183da5" width="1000px" height="1000px"
							data-testid="fb:like Facebook Social Plugin"
							title="fb:like Facebook Social Plugin" frameborder="0"
							allowtransparency="true" allowfullscreen="true" scrolling="no"
							allow="encrypted-media"
							src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1284406fc8b4c8%26domain%3Daceinspiration.com%26origin%3Dhttps%253A%252F%252Faceinspiration.com%252Ff3c25b0db89c564%26relation%3Dparent.parent&amp;container_width=352&amp;href=https%3A%2F%2Fwww.facebook.com%2Faceinspiration%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"
							style="border: none; visibility: visible; width: 135px; height: 20px;"
							class=""></iframe></span>
				</div>
				<br>
				<br> <img
					src="https://aceinspiration.com/wp-content/themes/acinspiration/images/facebook.png"><a
					href="https://www.facebook.com/aceinspiration/">Find us on
					Facebook</a><br>
				<br>
				<br>
			</div>
		</div>
	</section>


	<!-- th replace -->
	<div th:replace="fragments/HomeFooter::homefooter"></div>


	<script th:src="@{/homeStyle/userassets/js/jquery.js}"></script>
	<script th:src="@{/homeStyle/userassets/js/bootstrap.min.js}"></script>
	<script th:src="@{/homeStyle/userassets/js/tether.js}"></script>
	<script th:src="@{/homeStyle/userassets/js/currentYear.js}"></script>


</body>
</html>